/* to let below css width take effort, should remove talbe-layout fix property */

body.model-shelf #changelist table tbody tr td:nth-child(8) {
    width:80px!important;
    /*background-color: #2bde73;*/
    text-align: center;
}

body.model-dailyinspection #changelist table tbody tr td:nth-child(3) {
    width:8%;
}

body.model-dailyinspection #changelist table tbody tr td:nth-child(4) {
    width:8%!important;
}

body.model-dailyinspection #changelist table tbody tr td:nth-child(5) {
    width:8%!important;
}

body.model-dailyinspection #changelist table tbody tr td:nth-child(9) {
    width:8%!important;
}


/* shelf inspection record*/

body.model-shelf_inspection_record #changelist table tbody tr td:first-child {
    width:auto!important;
}
body.model-shelf_inspection_record #changelist table tbody tr td:nth-child(n+2),
body.model-shelf_inspection_record #changelist table tbody tr th {
    width:11%!important;
}

/*annual plan*/
body.model-annualplan #changelist table tbody tr td:first-child {
    width:auto!important;
}
body.model-annualplan #changelist table tbody tr th {
    width:6%!important;
}

body.model-annualplan #changelist table tbody tr td:nth-child(3){
    width:10%!important;
}

