{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load i18n %}

{% block content %}

<div class='row'>
	<div class='col-sm-3 '>
		placehold
	</div>
	<div class='col-sm-9 '>

		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h3 class="panel-title">
		            {% trans "Base Information" %}
		        </h3>
		    </div>
		    <div class="panel-body">
		    	<div class="row">
		    		<div class="col-sm-6">
						<table class="forklift-detail transposition table-striped table-hover table-responsive table-condensed"  style="width: 100%">
							<tbody>
								<tr><th>{% trans "Inner Car Number" %}</th><td>{{object.internal_car_number}}</td></tr>
								<tr><th>{% trans "Inner Plate Number" %}</th><td>{{object.internal_plate_number}}</td></tr>
								<tr><th>{% trans "Forklift Model" %}</th><td>{{object.model}}</td></tr>
								<tr><th>{% trans "SN" %}</th><td>{{object.sn}}</td></tr>
								<tr><th>{% trans "Forklift Category" %}</th><td>{{object.category}}</td></tr>
								<tr><th>{% trans "Manufacturer" %}</th><td>{{object.manufacturer}}</td></tr>
							</tbody>
						</table>			    		
		    		</div>
		    		<div class="col-sm-6">
						<table class="forklift-detail transposition table-striped table-hover table-responsive table-condensed"  style="width: 100%">
							<tbody>
								<tr><th>{% trans "Tip Height" %}</th><td>{{object.tip_height}}</td></tr>
								<tr><th>{% trans "Carrying Capacity" %}</th><td>{{object.carrying_capacity}}</td></tr>
								<tr><th>{% trans "Self Weight" %}</th><td>{{object.self_weight}}</td></tr>
								<tr><th>{% trans "Turning Radius" %}</th><td>{{object.turning_radius}}</td></tr>
								<tr><th>{% trans "Front Tyre Size" %}</th><td>{{object.front_tyre_size}}</td></tr>
								<tr><th>{% trans "Back Tyre Size" %}</th><td>{{object.back_tyre_size}}</td></tr>
								<tr><th>{% trans "Forklift Width" %}</th><td>{{object.width}}</td></tr>
								<tr><th>{% trans "Forklift Length" %}</th><td>{{object.length}}</td></tr>
								<tr><th>{% trans "Forklift Length" %}</th><td>{{object.forklift_length}}</td></tr>
								<tr><th>{% trans "Maximum Velocity" %}</th><td>{{object.maximum_velocity}}</td></tr>
							</tbody>
						</table>			    		
		    		</div>
		    	</div>

		    </div>
		</div>

		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h3 class="panel-title">
		            {% trans "forklift image" %}
		        </h3>
		    </div>
		    <div class="panel-body">
				{% if object.forkliftimage_set.count > 0 %}
					<div class="row">
					{% for img in object.forkliftimage_set.all %}						
						<div class="col-sm-6" style="padding-top: 10px;">
							<img class= 'img-responsive' src={{img.image.url}} />
						</div>
					{% endfor %}
					</div>
				{% else %}
				   {% trans "Nothing found" %}
				{% endif %}
		    </div>
		</div>

		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h3 class="panel-title">
		            {% trans "forklift maintenance" %}
		        </h3>
		    </div>
		    <div class="panel-body">
				{% if forklift_maint_objects.count > 0 %}
					{% for forkliftmaint in forklift_maint_objects %}										
						{% include "forklift/forkliftmaint_detail_content.html" with object=forkliftmaint %}						
					{% endfor %}
				{% else %}
				   {% trans "Nothing found" %}
				{% endif %}
		    </div>
		</div>



		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h3 class="panel-title">
		            {% trans "forklift repair" %}
		        </h3>
		    </div>
		    <div class="panel-body">
				{% if object.forkliftrepair_set.count > 0 %}											
						<table class="table table-striped table-hover table-responsive table-condensed"  style="width: 100%">
							<thead>
								<tr>
									<th>{% trans "Damage Reason" %}</th>
									<th>{% trans "Accessories Name" %}</th>
									<th>{% trans "Accessories Number" %}</th>
									<th style="width:40%;">{% trans "Breakdown Description" %}</th>
									<th>{% trans "Repaired" %}</th>
									<th>{% trans "Repaire Date" %}</th>										
								</tr>
							</thead>
							<tbody>
							{% for forkliftrepair in object.forkliftrepair_set.all %}
							    <tr>
									<td>{{forkliftrepair.damage_reason}}</td>
									<td>{{forkliftrepair.accessories_name}}</td>
									<td>{{forkliftrepair.accessories_num}}</td>
									<td>{{forkliftrepair.description}}</td>
									<td>{{forkliftrepair.get_repaired}}</td>
									<td>{{forkliftrepair.repaire_date}}</td>																		
								</tr>
							{% endfor %}
							</tbody>							
						</table>
					
				{% else %}
				   {% trans "Nothing found" %}
				{% endif %}	
		    </div>
		</div>



		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h3 class="panel-title">
		            {% trans "forklift annual inspection" %}
		        </h3>
		    </div>
		    <div class="panel-body">
				{% if object.forkliftannualinspection_set.count > 0 %}
					{% for forkliftannualinspection in object.forkliftannualinspection_set.all %}						
						<table class="table table-striped table-hover table-responsive table-condensed"  style="width: 100%">
							<thead>
								<tr><th>{% trans "Annual Inspection Date" %}</th><th>{% trans "Next Inspection Date" %}</th></tr>
							</thead>
							<tbody>
							    <tr>
									<td>{{forkliftannualinspection.date}}</td>
									<td>{{forkliftannualinspection.next_date}}</td>
								</tr>
							</tbody>
						</table>
						<h5>{% trans "forklift annual inspection image" %}</h5>
						<div class="row">
							<div class="col-sm-6">
								{% if forkliftannualinspection.forkliftannualinspectionimage_set.count > 0 %}
									{% for img in forkliftannualinspection.forkliftannualinspectionimage_set.all %}						
										<img class= 'img-responsive' src={{img.image.url}} />
									{% endfor %}
								{% endif %}										
							</div>
						</div> 
					
					{% endfor %}
				{% else %}
				   {% trans "Nothing found" %}
				{% endif %}	
		    </div>
		</div>

	</div>
</div>

{% endblock %}					