{% load i18n %}

<button type="button" class="btn btn-info" data-toggle="collapse" 
    data-target="#collapse{{object.id}}">
    {{ object.created }}
</button> 
<div id="collapse{{object.id}}" class="collapse"> <!--  collapse in if display at the begining-->
	<table class="forkliftmaint-detail transposition table-striped table-hover table-responsive table-condensed"  style="width: 100%">
		<tbody>
		{% for field, value in object.fields.iteritems %}
			<tr><th style="width:80%;">{{field}}</th><td>{% if value %}{{value}}{% endif %}</td></tr>
		{% endfor %}
		</tbody>
	</table>	
	<a href="{{ object.get_absolute_url_update }}" class="btn btn-primary" >{% trans "Update" %}</a>
	<hr>
</div>



