{% extends "outsourcing_list.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load i18n %}

<style type="text/css">
{% block style %}
@media (max-width: 767px){
    .nav-bar {
        padding-bottom: 10px;
    }

    /*copy from list-inline*/
    .nav-bar ul.list-inline {
        padding-left: 0;
        list-style: none;
    }

    .nav-bar ul li{
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (min-width: 768px) {
    .nav-bar {
        margin-right:20%;
    }
}
{% endblock %}
</style>


{% block left_bar %}
<div class="nav-bar">
    <p class="nav-title">{% trans "Outsource Management" %}</p>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="{% url 'forklift_list' %}">{% trans "forklift" %}</a></li>
      <li><a href="{% url 'forklift_maint_list' %}">{% trans "forklift maintenance" %}</a></li>
      <li><a href="{% url 'forklift_annual_inspection_list' %}">{% trans "forklift annual inspection" %}</a></li>
      <li><a href="{% url 'forklift_repair_list' %}"><span style="color:#428bca;">{% trans "Uncompleted" %}{% trans "forklift repair" %}</span> <i style="color:red;" class="fa fa-warning fa-1x" aria-hidden="true"></i></a></li>
    </ul>
</div>    
{% endblock %}

{% block links %}
<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            <form id="export" method="POST" action="" style="float: left;padding-right: 10px;">{% csrf_token %}                        
                <a class="fa fa-download fa-1x" href="javascript:;" onclick="document.getElementById('export').submit();">{% trans "download" %}</a>
            </form>             
            <a  href="{% url 'forklift_repair_list'  %}"><i style="color:red;" class="fa fa-warning fa-1x" aria-hidden="true"><span style="color:#428bca;">{% trans "abnormal" %}{% trans "forklift repair" %}</span></i></a>
            {% comment %}
            <a href='{% url "forklift_create" %}'><i class="fa fa-plus-square-o" aria-hidden="true"> {% trans "Create" %}{% if LANGUAGE_CODE == "en" %}&nbsp{% endif %}{% trans "forklift" %}</i></a>
            {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}
                