{% load i18n %}
{% load myform %}

<div style="overflow-x:auto;">
    <table class="table-align-center table table-bordered table-hover table-striped table-container table-condensed" >
        <thead>
            <tr class="table-primary">
                <th>{% trans project_name %}</th>
                <th>{% trans "indicator" %}</th>
                {% for column in columns %}
                <th>{{column.1}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <th>{{row.0.verbose_name}}</th>
                <th class="table-indicator">{{row.1}}</th>
                {% for column in columns %}
                    <td>
                    {% for object in object_list %}                    
                        {% if object|my_get_field_value:column_key == column.0 %}                        
                            {{object|my_get_field_display:row.0.name }}                        
                        {% endif %}                    
                    {% endfor %}
                    </td>
                {% endfor %}

                {% comment %}
                <td><span style="display: none">{{formset.0.voltage_and_power_normal.label_tag}}</span>{{formset.0.voltage_and_power_normal}}
                <input id="id_form-0-id" name="form-0-id" type="hidden" value="1"></td>
                <td><span style="display: none">{{formset.1.voltage_and_power_normal.label_tag}}</span>{{formset.1.voltage_and_power_normal}}
                <input id="id_form-1-id" name="form-1-id" type="hidden" value="2"></td>
                {% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table>   
</div>


<!-- param : project_name,  columns, date_field_list -->