{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
            <ul class="list-inline">
                <li><a href="{% url 'vehicle_list' %}">{% trans 'vehicle' %}</a></li>
                <li><a href="{% url 'transportationkpi_list_display' %}">{% trans 'vehicle tranportation KPI' %}</a></li>          
            </ul> 
    </div>
</div>

<style>
{% block style %}
  
.featured-row div div:nth-child(1),
.featured-row div div:nth-child(2) {
    /*background: url('{% static "img/vehicle.jpg" %}') no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}      


{% endblock %}
</style>

{% block content %}


<div class='row featured-row'>
  <div class='col-sm-12 text-center'>
   
    <div class='col-sm-3'>
      <a href="{% url 'vehicle_list' %}"><i class="fa fa-camera fa-3x"></i></a>
      <h2>{% trans 'vehicle' %}</h2>
      <p class='lead'>
      Vehicle.
      </p>
    </div>
    
    <div class='col-sm-3'>
      <a href="{% url 'driver_list' %}"><i class="fa fa-camera fa-3x"></i></a>
      <h2>{% trans 'driver' %}</h2>
      <p class='lead'>
      Driver.
      </p>
    </div>   

    <div class='col-sm-3'>
      <a href="{% url 'transportationkpi_list_display' %}"><i class="fa fa-camera fa-3x"></i></a>
      <h2>{% trans 'vehicle tranportation KPI' %}</h2>
      <p class='lead'>
      RT HSSE KPI.
      </p>
    </div>

    <div class='col-sm-3'>
      <a href="{% url 'rtpi_list' %}"><i class="fa fa-camera fa-3x"></i></a>
      <h2>{% trans 'RT PI/NM' %}</h2>
      <p class='lead'>
      PI/NM.
      </p>
    </div>      

<!--     <div class='col-sm-3'>
      <a href="{% url 'annualtrainingplan_list' %}?class=transportation&year={{year}}"><i class="fa fa-camera fa-3x"></i></a>
      <h2>{% trans 'annual training plan' %}</h2>
      <p class='lead'>
      Annual Training Plan.
      </p>
    </div>  -->
  </div>

</div>
{% endblock %}