{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		{{form.instance.year }} {% trans "year" %}
		{{form.instance.month }} {% trans "month" %}
		<hr>
		<form method="POST" action="">{% csrf_token %}
			{{form|crispy}}
			<input type="submit" class="btn btn-primary"  name="submit" value = "{% trans 'Submit' %}">
			<a href="{{object.get_absolute_url}}" class="btn btn-default">{% trans "back" %}</a>
		</form>
	</div>
</div>	
{% endblock %}