{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load i18n %}


<style type="text/css">
{% block style %}

table.table-formset tbody tr th label
{
	padding-left: 4px;
}

table.table-formset thead tr th,
table.table-formset tbody tr td
{
	max-width: 200px;
}

table.table-formset tbody tr td select
{
	width: 100%;
}

table.table-formset thead tr th{
	width:11%;
}


table.table-formset thead tr th:nth-child(1){
	width:23%;
}

{% endblock %}
</style>


{% block content %}


<div class="row">
    <div class="col-sm-12" >
    	<h3 class="beta" ">Beta Version</h3>
        <div class="form-filter-flat">
            <form  method="GET" action="{% url 'transportationkpi_list_edit' %}">
                {{ top_filter_form }}
                <input type='submit' class='btn btn-primary' value="{% trans 'Apply Filter' %}">
                <a class="btn btn-default" href="{% url 'transportationkpi_list_edit' %}"  >{% trans 'Clear Filters' %}</a>   
            </form>                    
        </div>    
        {% include "table_transposition_formset.html" %}
    </div>
</div>

<br>

<a href="{% url 'transportationkpi_list_display' %}?year={{request.GET.year}}&month={{request.GET.month}}" class="btn btn-default" >{% trans 'Display' %}</a>

{% endblock %}