{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load i18n %}
{% load staticfiles %}


<style type="text/css">
{% block style %}

.display table thead tr th{
	width:10%;
}


.display table thead tr th:nth-child(1){
	width:20%;
}

{% endblock %}
</style>

{% block content %}

<div class="page-header">
    <h3>{% trans project_name %} {{ request.GET.year }} {% trans "year" %} {{ request.GET.month }} {% trans "month" %} 
        <small>{% trans "Project Review" %}</small>
    </h3>
</div>

<div class="row display">
	<div class="col-sm-12">
        <div class="form-filter-flat">
            <form  method="GET" action="{% url 'transportationkpi_list_display' %}">
                {{ top_filter_form }}
                <input type='submit' class='btn btn-primary' value="{% trans 'Apply Filter' %}">
                <a class="btn btn-default" href="{% url 'transportationkpi_list_display' %}"  >{% trans 'Clear Filters' %}</a>   
            </form>                    
        </div>
	
	{% include "dashboard/table_transposition_display_content.html" %}
	</div>
</div>

<a href="{% url 'transportationkpi_list_edit' %}?year={{request.GET.year}}&month={{request.GET.month}}" class="btn btn-primary" style="min-width: 70px;">{% trans 'Edit' %}</a>

{% endblock %}