
.text-align-center {
	text-align: center;
}


/* product */
.og-price {
	color:red;
	text-decoration:line-through;
}

.fa-navbar-cart{
	font-size: 18px;
    vertical-align: middle;
}

.container-alert-flash {
	position: absolute;
    top: 10px;
    z-index: 50000;
    width: 100%;
    right: 0%;
    margin: 0px;
    display:none;
}



/* overwrite row css */
.container-fluid .row{
    margin-right: 0px;
    margin-left: 0px;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: none;}

/*******************  

           table style div
           
*********************/

.div-table-header{
    padding: 10px 0 10px;
    background-color: #a5d2e8;
    border: 1px solid #337ab7;
}

.div-table-body:hover{
    background-color: #d9f6f7;
}

.div-table-row1, .div-table-row2{
    padding: 5px 0 5px;
}

.div-table-row2{
    background-color: #d9edf7;
}

.highlight-div-cell{
    background-color:#e671d9; 
    border-radius: 3px; 
}


/*******************  

           table 
           
*********************/

/* align */
table.custom-style-1,
table.custom-style-1 tr td,
table.custom-style-1 tr th,
table tr.cus-head th {
    text-align: center;
}

/* strip style */
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th ,
.table-striped>tbody>tr:hover 
{
    background-color: rgba(188, 232, 241, 0.33);
}


/* not take effect ? */
.table-hover>tbody>tr:hover{
    background-color:rgba(188, 232, 241, 0.33);
}

/* not take effect ? */
.table-hover>tbody>tr.active:hover>td,
.table-hover>tbody>tr.active:hover>th,
.table-hover>tbody>tr:hover>.active,
.table-hover>tbody>tr>td.active:hover,
.table-hover>tbody>tr>th.active:hover{
    background-color:rgba(188, 232, 241, 0.33)!important;
}

/* header style - after strip if no thead */
table.custom-style-1 thead,
.table>thead>tr>td.cus-head, 
.table>tbody>tr>td.cus-head, 
.table>tfoot>tr>td.cus-head, 
.table>thead>tr>th.cus-head, 
.table>tbody>tr>th.cus-head, 
.table>tfoot>tr>th.cus-head, 
.table>thead>tr.cus-head>td, 
.table>tbody>tr.cus-head>td, 
.table>tfoot>tr.cus-head>td, 
.table>thead>tr.cus-head>th, 
.table>tbody>tr.cus-head>th, 
.table>tfoot>tr.cus-head>th {
    background-color: #428bca;
    border-color: #428bca;
    color: white;
}



table tr.cus-head th{
    border-bottom: solid 1px #f9b9c3;
}



/************************* 

             left navigation 
             
**************************/
.custom-style-1 .nav-title{
    padding: 10px 15px 10px 15px;
    background-color: #428bca;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #f5f5f5;
}

.custom-style-1 ul.nav-stacked{
    background-color: #eee;
    border-radius: 5px;
}

.custom-style-1 .nav-pills>li.active>a, 
.custom-style-1 .nav-pills>li.active>a:hover, 
.custom-style-1 .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #ccc!important; /*overwrite bootstrap*/
}

