{% extends "base.html" %}
{% load i18n %}

<style type="text/css">
{% block style %}

.object_list table>thead>tr>th{
    /*width: 25%;*/
}

.object_list table>tr>th:nth-child(1){
    /*width: 25%;*/
}

.object_list table>thead>tr>th:nth-last-child(1){
    width: 10%!important;
}

{% endblock %}  
</style>

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            {% block pi_header %}
            {% if request.user.is_staff %}
            <a href='{% url "pi_create" %}'><i class="fa fa-plus-square-o" aria-hidden="true"> {% trans "Create PI" %}</i></a>
            {% endif %}
            <a href='{% url "pi_list" %}'><i class="fa fa-list" aria-hidden="true"> {% trans "All" %}{% trans "PI" %}</i></a>
            <a href="{% url 'pi_list'  %}?uncompleted=1"><i style="color:#b94a48;" class="fa fa-warning fa-1x" aria-hidden="true"><span style="color:#428bca;">{% trans "abnormal" %}{% trans "PI" %}</span></i></a>
            <a href="{% url 'pi_list'  %}?uncompleted=1&overdue=1"><i style="color:red;" class="fa fa-warning fa-1x" aria-hidden="true"><span style="color:#428bca;">{% trans "abnormal" %}{% trans "overdue" %}{% trans "PI" %}</span></i></a>   
            {% endblock %}                           
        </div>
    </div>
</div>

{% include "includes/model_list_table_display.html" with line_per_page=15 %}
{% endblock %}