{% extends "base.html" %}
{% load i18n %}
{% load myform %}
{% load staticfiles %}


{% block content %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            {% include "includes/model_filelds_table_display.html." with object=object fields=fields fields_safe_content=fields_safe_content %}

            <a href="{{ object.get_absolute_url_update }}" class="btn btn-primary" >{% trans "Update" %}</a>
            <a href="{{  object.get_list_display }}?year={{year}}" class="btn btn-default" >{% trans 'Back' %}</a>
        </div>
    </div>

{% endblock %}