{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load i18n %}
{% load staticfiles %}


<style type="text/css">
{% block style %}

.display table thead tr th{
    width:6%;
}


.display table thead tr th:nth-child(1){
    width:10%;
}

.display table thead tr th:nth-child(2){
    width:10%;
}

{% endblock %}
</style>

{% block content %}

{% block nav %}
{% endblock %} 


{% block content_header %}
<div class="page-header">
    <h3>{% trans project_name %} {{ request.GET.year }} {% trans "year" %} 
        <small>{% trans "Project Review" %}</small>
    </h3>
</div>
{% endblock %} 

<div class="row display">
    <div class="col-sm-12">
        <div class="form-filter-flat">
            <form  method="GET" action="{{ object_list.0.get_list_display}}">
                {{ top_filter_form }}
                <input type='submit' class='btn btn-primary' value="{% trans 'Apply Filter' %}">
                <a class="btn btn-default" href="{{ object_list.0.get_list_display}}"  >{% trans 'Clear Filters' %}</a>   
            </form>                    
        </div>
    </div>

    <div class="col-sm-12">        
    {% block content_operation %}
    {% endblock %} 
    </div>
</div>

<div class="row">
    <div class="col-sm-12">   
    {% include "dashboard/table_transposition_display_content.html" %}
    </div>
</div>

{% block content_footer %}
{% if request.user.is_staff %}
<a href="{{ object_list.0.get_list_edit}}?year={{request.GET.year}}" class="btn btn-primary" style="min-width: 70px;">{% trans "Edit" %}</a>
{% endif %}
{% endblock %} 

{% endblock %} 
