{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


<style type="text/css">
{% block style %}

ul.nav-stacked{
    background-color: #eee;
    border-radius: 5px;
}

 .nav-title{
    padding: 10px 15px 10px 15px;
    background-color: #428bca;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #f5f5f5;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #ccc!important; /*overwrite bootstrap*/
}

.list-title{
    background-color: #428bca; 
    border-radius: 3px; 
    color:white;
}

.list-title div{
    border-color: white;
    padding-top: 8px; 
    padding-bottom: 8px;     
}

{% endblock %}
</style>


{% block content %}
<div class="row">
    <div class="col-xs-3">
        <div style="margin-right:20%;">
            <p class="nav-title">分类检查</p>
            <ul class="nav nav-pills nav-stacked">
              {% for category in categories %}
              <li {% ifequal category.id current_category|add:"0" %}class='active'{% endifequal %}><a href="{% url 'electronialequipmentinsepction_list' %}?category_id={{category.id}}">{{category}}</a></li>
              {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-xs-6">
        <!--{% for object in object_list %}-->
            <!--<a href="{{object.get_absolute_url }}"> {{object }} </a></p>-->
        <!--{% endfor %}-->
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <i class="fa fa-plus-square" aria-hidden="true"> add new equipment</i>
                </div>
            </div>
        </div>
        <div class="row list-title text-center" >
            <div class="col-sm-3">Equipment</div>
            <div class="col-sm-3">Use Condition</div>
            <div class="col-sm-3">Inspector</div>
            <div class="col-sm-3">Date of inspection</div>
        </div>

        <div class="row text-center" >
            {% for object in object_list %}
            <div class="col-sm-3"><i class="fa fa-check-circle" aria-hidden="true"> {{object.equipment}}</i></div>
            <div class="col-sm-3">{{object.use_condition}}</div>
            <div class="col-sm-3">{{object.inspector}}</div>
            <div class="col-sm-3">{{object.date_of_inspection}}</div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}