{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}


<style>
{% block style %}
.timezonewarning{
    display:none;
}

{% endblock %}

{% block head_css_extend_before_main_css %}
{{ filter_form.media.css }}
{% endblock %}
</style>

{% block javascript_extended %}
{{filter_form.media.js}}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static 'admin/' %}{% endfilter %}";</script>    
{% endblock %}

{% block jswotag/// %}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}    

{% block content %}
<div class="row">
    <div class="col-sm-3">
        <div class="nav-bar" style="margin-right:20%;">
            <p class="nav-title">{% trans "Insepction Categories" %}</p>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="{% url 'equipmentinsepction_list' %}">All</a></li>
              {% for category in categories %}
              <li {% ifequal category.id current_category|add:"0" %}class='active'{% endifequal %}><a href="{% url 'equipmentinsepction_list' %}?category_id={{category.id}}">{{category}}</a></li>
              {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-filter-inline">
                    <form class="form-inline" method="GET" action="{% url 'equipmentinsepction_list' %}">
                        {% for field in filter_form %}
                        <div class="form-group">
                            {{field.label_tag}}
                            {{ field }}
                        </div>                           
                        {% endfor %}
                        <div class="form-group apply-filter">                                                                                            
                            <input type='submit' class='btn btn-primary' value="{% trans 'Apply Filter' %}">
                            <a class="btn btn-default" href="{% url 'equipmentinsepction_list' %}"  >{% trans 'Clear Filters' %}</a>
                        </div>   
                    </form>       
                </div>
                <div class="pull-right" style="padding-top: 5px;">
                    <form id="export" method="POST" action="" style="float: left;padding-right: 10px;">{% csrf_token %}                        
                        <a href="javascript:;" onclick="document.form.submit();"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a> 
                        <input type="submit" name="" class="fa fa-download" value="export">
                    </form>
                    <a class="fa fa-plus-square fa-2x" style="padding-right: 5px;" data-toggle="modal" href="{% url 'equipmentinsepction_create' cat=current_category|add:"0" %}" data-target="#modal" title="create item" data-tooltip></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

                <table class="table-align-center table table-striped table-hover table-responsive table-condensed" cellspacing='0'>
                    <thead>
                        <tr class="table-primary" style="border-top-width: 2px;">
                            <th>{% trans "Equipment" %} </th>
                            <th>{% trans "Use Condition" %} </th>
                            <th>{% trans "Inspector" %} </th>
                            <th>{% trans "Date of inspection" %} </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr class="equipment-inspection-item table-primary-hover">
                                <td> {{object.equipment}}</td>
                                <td> {{object.get_use_condition}}</td>
                                <td> {{object.inspector}}</td>
                                <td> {{object.date_of_inspection}}</td>
                                <td>
                                    <a class="fa fa-pencil" data-toggle="modal" href="{% url 'equipmentinsepction_update' pk=object.id  %}" data-target="#modal" title="edit item" data-tooltip></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="text-center">
            <div class="pagination">
                <span class="step-links">
                    {% if object_list.has_previous %}
                        <a href="?page={{ object_list.previous_page_number }}{% if current_category %}&category_id={{current_category}}{% endif %}{% if filter_str %}&{{filter_str}}{% endif %}"><< previous</a>
                    {% else %}
                        << previous
                    {% endif %}

                    <span class="current">
                        {{ object_list.number }} of {{ object_list.paginator.num_pages }}
                    </span>

                    {% if object_list.has_next %}
                        <a href="?page={{ object_list.next_page_number }}{% if current_category %}&category_id={{current_category}}{% endif %}{% if filter_str %}&{{filter_str}}{% endif %}">next >></a>
                    {% else %}
                        next >>
                    {% endif %}
                </span>
            </div>
        </div>


    </div>
</div>
{% endblock %}

<script>
{% block jquery %}
    $('tr.equipment-inspection-item a').click(function() {
        $(this).parent().parent().siblings().removeClass('active');
        $(this).parent().parent().addClass('edit-item');
    });
{% endblock %}
</script>