
{% load crispy_forms_tags %}

<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <form id="item_create_form" method="POST" class="form" action='{% url "equipmentinsepction_create" cat=current_category|add:"0" %}'>{% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title" id="myModalLabel">Create</h4>
            </div>

            <div class="modal-body">
                {{form|crispy}}
            </div>
            <div class="modal-footer">
                <input id="form_cancel" type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
                <input type="submit" class="btn btn-primary" value="save" style="margin-bottom: 5px;" />
            </div>
        </form>
        <script>
            jQuery('.modal-content .calendar').datepicker({ dateFormat: "yy-mm-dd" });

            var form_options = {
                target: '#modal',
                success: function() {  }
            }
            $('#item_create_form').ajaxForm(form_options);

            $('#form_cancel').click(function() {
                jQuery('#modal').modal('hide'); 
                $('body').on('hidden.bs.modal', '.modal', function () {
                    $(this).removeData('bs.modal');
                });
            });            
        </script>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
