{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load myform %}


<style type="text/css">
{% block style %}



table.table_form tr th{
    width:30%;
}

.errorlist{
    color:#b94a48;
    font-weight:bold;
}


{% endblock %}
</style>


{% block content %}
<div class="row">

    <div class="col-xs-6 col-xs-offset-3 col-sm-offset-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#form_inspection_today">
                    快速更新今天的检查
                </a>
                </h4>
            </div>
            <div id="form_inspection_today" class="panel-collapse collapse-in">
                <div class="panel-body">
                    <form method="post" action="">{% csrf_token %}
                        {{ formset.management_form }}
                            {% for form in formset %}
                            <h4>{% if not forloop.last%}
                            <a href="{{form.instance.get_absolute_url }}"> {{form.instance }} </a>
                            {% elif extra_form_lg_one == False %}
                            <a href="{{form.instance.get_absolute_url }}"> {{form.instance }} </a>
                            {% elif extra_form_lg_one %}
                            <a href="{% url 'equipmentinsepction_create' cat=current_category|add:"0" %}">Create New</a>
                            {% endif %}</h4>
                            <table style="width: 100%" class="table_form">
                                {{ form.as_table }}
                            </table>
                            <hr>
                            {% endfor %}
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}