{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}
{% load myform %}


<style>
{% block style %}
.timezonewarning{
    display:none;
}

.form-filter-inline .form-group:nth-child(3){
    width:120px;
}

.form-filter-inline .form-group:nth-child(4){
    width:120px;
}

{% endblock %}

{% block head_css_extend_before_main_css/// %}
{{ filter_form.media.css }}
{% endblock %}
</style>

{% block javascript_extended/// %}
{{filter_form.media.js}}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static 'admin/' %}{% endfilter %}";</script>    
{% endblock %}

{% block jswotag/// %}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}    

{% block content %}
<div class="row">
    <div class="col-sm-3">
        <div class="nav-bar" style="margin-right:20%;">
            <p class="nav-title">{% trans "Insepction Categories" %}</p>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="{% url 'equipmentinsepction_list' %}">{% trans 'All' %}</a></li>
              {% for category in categories %}
              <li {% ifequal category.id current_category|add:"0" %}class='active'{% endifequal %}><a href="{% url 'equipmentinsepction_list' %}?category_id={{category.id}}">{{category}}</a></li>
              {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12 col-xs-0">
                <div>
                <div class="form-filter-inline">
                    <form class="form-inline" method="GET" action="{% url 'equipmentinsepction_list' %}">
                        {% for field in filter_form %}
                        <div class="form-group">
                            {{field.label_tag}}
                            {{ field }}
                        </div>                           
                        {% endfor %}
                        <div class="form-group apply-filter row">
                            <div class="col-sm-6" style="padding-right: 5px;"><input type='submit' class='btn btn-primary' value="{% trans 'Apply Filter' %}"></div>
                            <a class="btn btn-default" href="{% url 'equipmentinsepction_list' %}"  >{% trans 'Clear Filters' %}</a>
                        </div>   
                    </form>       
                </div>
                </div>
                <div class="pull-right" style="padding-top: 5px;">
                    <form id="export" method="POST" action="" style="float: left;padding-right: 10px;">{% csrf_token %}                        
                        <a href="javascript:;" onclick="document.getElementById('export').submit();"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
                        <!-- <button type="submit" class="btn btn-primary"><i class="fa fa-2x fa-download"></i></button> -->
                    </form>
                    {% if request.user.is_staff %}
                    <a class="fa fa-plus-square fa-2x" style="padding-right: 5px;" data-toggle="modal" href="{% url 'equipmentinsepction_create' cat=current_category|add:"0" %}" data-target="#modal" title="create item" data-tooltip></a>
                    {% endif %}
                    {% comment %}
                    <!-- not required by customrer -->
                    <a href="{%url 'equipmentinsepction_quickupdate' %}"><i class="fa fa-flash fa-2x" aria-hidden="true"></i></a>
                    {% endcomment %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

                <table class="table-align-center table table-striped table-hover table-responsive table-condensed" cellspacing='0'>
                    <thead>
                        <tr class="table-primary" style="border-top-width: 2px;">
                            <th>{% trans "Equipment" %} </th>
                            <th>{% trans "Use Condition" %} </th>
                            <th>{% trans "Owner" %} </th>
                            <th>{% trans "rectification completed time" %} </th>
                            <th>{% trans "Inspector" %} </th>
                            <th>{% trans "Date of inspection" %} </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr class="equipment-inspection-item table-primary-hover">
                                <td> {{object.equipment}}</td>
                                <td> {{object.get_use_condition}}</td>
                                <td> {{object.owner}}</td>
                                <td> {% if object.completed_time %}{{object.completed_time}}{% endif %}</td>
                                <td> {{object.inspector}}</td>
                                <td> {{object.check_date}}</td>
                                <td>
                                    {% if request.user.is_staff %}
                                    <a class="fa fa-pencil" data-toggle="modal" href="{% url 'equipmentinsepction_update' pk=object.id  %}" data-target="#modal" title="edit item" data-tooltip></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="text-center">
            <div class="pagination">
                <span class="step-links">
                    {% if object_list.has_previous %}
                        <a href="?page={{ object_list.previous_page_number }}{% if current_category %}&category_id={{current_category}}{% endif %}{% if filter_str %}&{{filter_str}}{% endif %}"><< {% trans "previous" %}</a>
                    {% else %}
                        << {% trans "previous" %}
                    {% endif %}

                    <span class="current">
                        {{ object_list.number }} / {{ object_list.paginator.num_pages }}
                    </span>

                    {% if object_list.has_next %}
                        <a href="?page={{ object_list.next_page_number }}{% if current_category %}&category_id={{current_category}}{% endif %}{% if filter_str %}&{{filter_str}}{% endif %}">{% trans "next" %} >></a>
                    {% else %}
                        {% trans "next" %} >>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h3>{% trans "Inspection Overdue" %} <small>OVERDUE</small></h3> 
        </div>
        {% if object_list_overdue.count > 0 %}
            <table class="table table-striped table-hover table-responsive table-condensed table-align-center"  style="width: 100%">
                <thead>
                    <tr class="table-primary">
                        {% for field in fields %}
                        <th>{{ object_list_overdue.0|my_get_field_verbose_name:field }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list_overdue %}
                    <tr>
                        {% for field in fields %}
                        <td>
                        {% if field in fields_display %}
                            {{ object|my_get_field_display:field }}
                        {% else %}
                            {{ object|my_get_field_value:field }}
                        {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>                            
            </table>
        {% else %}
            {% trans "Nothing found" %}
        {% endif %}

    </div>      
</div>

{% endblock %}

<script>
{% block jquery %}
    $('tr.equipment-inspection-item a').click(function() {
        $(this).parent().parent().siblings().removeClass('active');
        $(this).parent().parent().addClass('edit-item');
    });

    if("{{LANGUAGE_CODE}}" == "en"){
        $('input.calenda').datepicker({ dateFormat: "yy-mm-dd" });
    }else{
        $('input.calenda').datepicker({ dateFormat: "yy/mm/dd" });
    }    
{% endblock %}
</script>
