{% extends "equipment/dashboard_table_list_display.html" %}
{% load i18n %}

<style type="text/css">
{% block style %}

.display table thead tr th{
    width:6%;
}


.display table thead tr th:nth-child(1){
    width:15%;
}

{% endblock %}
</style>

{% block content_operation %}
<div class="pull-right">
    <form id="export" method="POST" action="" style="float: left;padding-right: 10px;">{% csrf_token %}
        <a class="fa fa-download fa-1x" href="javascript:;" onclick="document.getElementById('export').submit();">{% trans "download" %}</a>
    </form>
</div>
{% endblock %} 
