{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load i18n %}

{% block content %}

<div class='row'>
    <div class='col-sm-9 '>
    {% include "includes/model_filelds_table_display.html" %}

    {% block inline_content %}
    {% endblock %}    
    
    {% if object.get_absolute_url_update %}<a href="{{ object.get_absolute_url_update }}" class="btn btn-primary" >{% trans "Update" %}</a>{% endif %}
    {% if back_url or object.get_absolute_url_list %}<a href="{% if back_url %}{{back_url}}{% else %}{{ object.get_absolute_url_list }}{% endif %}" class="btn btn-default" >{% trans "Back" %}</a>{% endif %}    
    
    </div>

</div>

{% endblock %}         