{% load pagination_tags %}
{% load i18n %}
{% load myform %}

<div class="object_lists" style="clear: both;">
    {% autopaginate object_list page_num %}
    
    {% if object_list.count == 0 %}
        {% trans "Nothing found" %}
    {% else %}
        <table class="table-align-center table-hover table table-striped table-hover table-responsive table-condensed">
            <thead>
                <tr class="table-primary">
                    {% for field in fields %}
                    <th>{{ field.verbose_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr class="table-primary-hover">
                    {% for field in fields %}
                        {% if forloop.first %}
                            {% if field.name in field_display %}
                                <th style="text-align: center;">
                                {% if not field_display_links or field.name in field_display_links %}<a href="{{object.get_absolute_url}}">{% endif %}
                                    {{ object|my_get_field_display:field.name }}
                                {% if not field_display_links or field.name in field_display_links %}</a>{% endif %}</th>
                            {% else %}
                                <th style="text-align: center;">
                                {% if not field_display_links or field.name in field_display_links %}<a href="{{object.get_absolute_url}}">{% endif %}
                                    {{ object|my_get_field_value:field.name }}
                                {% if not field_display_links or field.name in field_display_links %}</a>{% endif %}</th>
                            {% endif %}                                        
                        {% else %}                            
                            {% if field.name in field_display %}
                                <td>{% if field.name in field_display_links %}<a href="{{object.get_absolute_url}}">{% endif %}{{ object|my_get_field_display:field.name }}{% if field.name in field_display_links %}</a>{% endif %}</td>
                            {% else %}
                                <td>{% if field.name in field_display_links %}<a href="{{object.get_absolute_url}}">{% endif %}{{ object|my_get_field_value:field.name }}{% if field.name in field_display_links %}</a>{% endif %}</td>
                            {% endif %}                            
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>                
    {% endif %}
    
    <div class="text-center">
    {% paginate %}
    </div>
</div>