{% load pagination_tags %}
{% load i18n %}
{% load myform %}

<!-- parameter

	page_num
	object_list
	fields
	field_display_links
	foreign_fields_images

-->
<div class="object_lists" style="clear: both;">
    {% autopaginate object_list page_num %}
    
    {% if object_list.count == 0 %}
        {% trans "Nothing found" %}
    {% else %}
        <table class="table-align-center table-hover table table-striped table-hover table-responsive table-condensed {{table_class}}">
            <thead>
                <tr class="table-primary">
                    {% for field in fields %}
                    <th>{{ field.verbose_name }}</th>
                    {% endfor %}
                    {% for field in foreign_fields_images %}
                    	<th></th>
                    {% endfor %}                            
                </tr>        
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr class="table-primary-hover">
                    {% for field in fields %}
                        {% if forloop.first %}
                            {% if field.name in fields_display %}
                                <th style="text-align: center;">
                                {% if not field_display_links or field.name in field_display_links %}<a href="{{object.get_absolute_url}}">{% endif %}
                                    {{ object|my_get_field_display:field.name }}
                                {% if not field_display_links or field.name in field_display_links %}</a>{% endif %}</th>
                            {% else %}
                                <th style="text-align: center;">
                                {% if not field_display_links or field.name in field_display_links %}<a href="{{object.get_absolute_url}}">{% endif %}
                                    {{ object|my_get_field_value:field.name }}
                                {% if not field_display_links or field.name in field_display_links %}</a>{% endif %}</th>
                            {% endif %}                                        
                        {% else %}
                        	<td>{% if field.name in field_display_links %}<a href="{{object.get_absolute_url}}">{% endif %}
                        		{% if field.name in fields_display %}{{ object|my_get_field_display:field.name }}
                        		{% elif field.name in foreign_fields_images %}<img src="{{object|my_get_foreign_field_url:field.name}}" class="img-responsive" style="width:100px;">
                        		{% else %}{{ object|my_get_field_value:field.name }}{% endif %}                        		
	                        	{% if field.name in field_display_links %}</a>{% endif %}</td>	                            
                        {% endif %}                        
                    {% endfor %}
                    
                    {% for fieldname in foreign_fields_images %}
                    	<td><img src="{{object|my_get_foreign_field_url:fieldname}}" class="img-responsive" style="width:100px;"></td>
                    {% endfor %}                    
                </tr>
            {% endfor %}
            </tbody>
        </table>                
    {% endif %}
    
    <div class="text-center">
    {% paginate %}
    </div>
</div>