
{% load myform %}
{% load i18n %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% if fieldsets.0.0 %}{{fieldsets.0.0}}{% else %}{% trans "Base Information" %}{% endif %}
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            {% for fieldset in fieldsets %}
            <div class="{% if fieldsets|length == 1 %}col-sm-12{% else %}col-sm-6{% endif %}">
                <table class="transposition table-striped table-hover table-responsive table-condensed"  style="width: 100%">
                    <tbody>                            
                    {% for fieldname in fieldset.1.fields %}
                        <tr>
                            <th>{{ object|my_get_field_verbose_name:fieldname }}</th>
                            <td> {% if fieldname in field_files %}<a href="/media/{{ object|my_get_field_value:fieldname }}">{{object|my_get_field_value:fieldname}}</a>{% elif fieldname in field_display_options %}{{ object|my_get_field_display:fieldname }}{% else %}{{ object|my_get_field_value:fieldname }}{% endif %}
                            </td>
                        </tr>
                    {% endfor %}                            
                    </tbody>
                </table>                        
            </div>
            {% endfor %}
        </div>

    </div>
</div>


                                