{% extends "base.html" %}
{% load i18n %}
{% load myform %}
{% load staticfiles %}


{% block content %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            {% include "inlines/detail_view.html" with title=detail_view_title fields_display=field_display %}

            <a href="{{ object.get_absolute_url_update }}" class="btn btn-primary" >{% trans "Update" %}</a>
            <a href="{% if shelf_inspection_instance %}{{shelf_inspection_instance.get_absolute_url_display}}{% else %} {% url 'shelf_inspection_list' %}{% endif %}" class="btn btn-default" >{% trans 'Back' %}</a>
        </div>
    </div>

{% endblock %}
