{% extends "base.html" %}
{% load i18n %}
{% load myform %}
{% load staticfiles %}


{% block content %}

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">

			<div class="panel panel-primary">
			    <div class="panel-heading">
			        <h3 class="panel-title">
			            {{detail_view_title}}
			        </h3>
			    </div>
			    <div class="panel-body">
					<table class="transposition table-striped table-hover table-responsive table-condensed"  style="width: 100%">
						<tbody>
							{% for field in fields %}						
								<tr><th>{{field.verbose_name}}</th><td>{{object|my_get_field_value:field.name}}</td></tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

<hr>

<div class="row">
	<div class="col-sm-12">
	<h4>{% trans 'Related Inspections' %}</h4>
		{% for object_inspection in related_inspection %}
		<div class="row">
			<div class="col-sm-3">
				<a href="{{object_inspection.get_absolute_url}}">{{object_inspection.shelf_inspection.check_date}}</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
