{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load i18n %}

<style type="text/css">
{% block style %}


{% endblock%}
</style>


{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            <a href='{% url "shelf_list" %}'><i class="fa fa-list" aria-hidden="true"> {% trans "Shelf List" %}</i></a>
            <a href='{% url "shelf_inspection_create" %}'><i class="fa fa-plus-square-o" aria-hidden="true"> {% trans "Create Shelf Inspection" %}</i></a>
            <a href="{% url 'home'  %}"><i class="fa fa-download fa-1x" aria-hidden="true">{% trans "download" %}{% trans "shelf inspection" %}</i></a>
        </div>
    </div>
</div>

{% if records.count == 0 %}
    {% trans "Nothing found" %}
{% else %}	
    <div class="row div-table-header">
        <div class="col-xs-3">{% trans 'Create Date' %}</div>
        <div class="col-xs-3">{% trans 'Use Condition' %} ({% trans 'Breakdown' %})</div>
        <div class="col-xs-3">{% trans 'Locked' %} ({% trans 'No' %})</div>
        <div class="col-xs-3">{% trans 'Gradient' %} (>1.4)</div>
    </div>

    {% for record in records %}
    <div class="row {% cycle 'div-table-row1' 'div-table-row2' %} div-table-body">
        <div class="col-xs-3"><a href='{{ record.0.get_absolute_url_display }}'>{{record.0.check_date}}</a></div>
        <div class="col-xs-3">{{record.1}}</div>
        <div class="col-xs-3">{{record.2}}</div>
        <div class="col-xs-3">{{record.3}}</div>
    </div>
    {% endfor %}

    <div class="text-center">
        <div class="pagination">
            <span class="step-links">
                {% if records.has_previous %}
                    <a href="?page={{ records.previous_page_number }}"><< previous</a>
                {% endif %}

                <span class="current">
                    {% trans 'Page' %} {{ records.number }} / {{ records.paginator.num_pages }}
                </span>

                {% if records.has_next %}
                    <a href="?page={{ records.next_page_number }}">next >></a>
                {% endif %}
            </span>
        </div>
    </div>
{% endif %}



{% endblock %}