{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<form method="POST" action=''>{% csrf_token %}    
			{{ form|crispy }}
			<button type='submit' class='btn btn-default'>{% trans 'submit' %}</button>
		</form>
	</div>
</div>
{% endblock %}

<script type="text/javascript">
{% block jquery %}
    if("{{LANGUAGE_CODE}}" == "en"){
        $('input.dateinput').datepicker({ dateFormat: "yy-mm-dd" });
    }else{
        $('input.dateinput').datepicker({ dateFormat: "yy/mm/dd" });
    }    
{% endblock %}
</script>