{% extends "base.html" %}
{% load i18n %}
{% load myform %}
{% load staticfiles %}

<style type="text/css">
{% block style %}


{% endblock%}
</style>


{% block content %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            {% include "includes/model_filelds_table_display.html." with title=detail_view_title fields_display=fields_display %}

            <a href="{{ object.get_absolute_url_update }}" class="btn btn-primary" >{% trans "Update" %}</a>
            {% if back_url or object.get_absolute_url_list %}<a href="{% if back_url %}{{back_url}}{% else %}{{ object.get_absolute_url_list }}{% endif %}" class="btn btn-default" >{% trans "Back" %}</a>{% endif %}   
        </div>
    </div>

{% endblock %}
