{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load i18n %}

<style type="text/css">
{% block style %}


{% endblock%}
</style>


{% block content %}

{% if uncompleted_shelf_inspection_record and uncompleted_shelf_inspection_record.count %}
    {% include "inlines/list_view.html" with object_foreign_set=uncompleted_shelf_inspection_record fields_foreign=fields_shelf_inspection_record fields_foreign_display=fields_shelf_inspection_record_display field_display_links=field_display_links title=title page_num=50 table_class='table-align-center' %}
{% else %}
    {% trans "Nothing found" %}
    <br><br>
{% endif%}
<a href="{% url 'shelf_inspection_list' %}" class="btn btn-default" >{% trans 'Back' %}</a>

{% endblock %}