{% load myform %}
{% load i18n %}
{% load pagination_tags %}

<style type="text/css">

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: none;}

.div-table-col p{
    margin: 5px 0 5px; 
}

.div-table-col1{
    margin-top: 5px;
}

.div-table-col1, .div-table-col2, .div-table-col3{
    width:22%;
    float: left;
}

.div-table-col4{
    float: left;
    width:10%;
}

.div-table-col5{
    padding-right: 10px;
    float: right;
    width: 70px;
}


</style>


<div class="text-center">
	<h4>{% trans 'Shelf Inspections Record' %}</h4>
    <div class="row div-table-header">        
        {% for field in formset.0 %}
            {% if not field.name in formset.0.Meta.hidden %}
            <div class="div-table-col {% cycle 'div-table-col1' 'div-table-col2' 'div-table-col3' 'div-table-col4' %}"><b>{{field.label}}</b></div>
            {% endif %}
        {% endfor %}
        <div class="div-table-col5"></div>
            
    </div>
    <div class="div-table-body">
        {% autopaginate formset 10 %}
        {% for form in formset %}        
        <form method="POST" class="ajaxform" id="id_form-{{forloop.counter0}}" action=''>{% csrf_token %}
            <div id='id_tr-{{forloop.counter0}}' class="row {% cycle 'div-table-row1' 'div-table-row2' %} div-table-row">
                          
                {% for field in form %}
                    {% if field.name in form.Meta.hidden %}
                        <div style="display:none; float: left;clear: both" type='hidden' >{{field}}</div>
                    {% else %}
                    <div class="div-table-col {% cycle 'div-table-col1' 'div-table-col2' 'div-table-col3' 'div-table-col4' %}" style="">
                        {% if field.name in form.Meta.hidden_form %}
                            <p style="display:none" type='hidden'>{{field}}</p>
                            {% if 'shelf' == field.name %}<a href="{% url 'shelf_detail' form.instance.shelf.id %}" >{% endif %}
                                {{form.instance.shelf}}
                            {% if 'shelf' == field.name %}</a>{% endif %}
                        {% elif field.name in form.Meta.disabled %}
                            <p>{{form.instance|get_field_value:field.name}}</p>
                        {% else %}
                            <p class="displayonly {% if field.name == 'gradient' and form.instance.gradient > 1.4 %} div-table-cell-highlight {% endif %}" style="display: block; ">{{form.instance|get_field_value:field.name}}</p>
                            <p class="edit" style="display: none">{{field}}</p>
                        {% endif%}  
                    </div>
                    {% endif %}

                {% endfor %}

                <div class="div-table-col5 text-left">
                    <i class="fa fa-1x fa-pencil-square-o edit-fields" style="padding-left: 50%" aria-hidden="true" ></i>
                    <input type="image" value=" " class="fa fa-2x fa-check check-fields"  style="display: none; padding-right: 0; margin-right: 0; clear:both; float:left;" />
                    <i class="fa fa-2x fa-times close-fields" aria-hidden="true" style="display: none; float:left;"></i>
                    <div id='blank'></div>
                </div>
              
            </div>
        </form>
        {% endfor %}
        <div class="text-center">
        {% paginate %}
        </div>        
    </div>
</div>
