{% extends "base.html" %}



<script type="text/javascript">
{% block jquery %}

{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-6 col-sm-offset-2'>

    <div>
        <ul class="nav nav-tabs" role="tablist">
            {% for category in categories %}
            <li role="presentation" class="{% if forloop.first %}active{% endif %}"><a href="#{{category.0}}" aria-controls={{category.0}} role="tab" data-toggle="tab">{{category.1}}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content">
        	{% for object in objects %}
            <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{object.0}}">
            	{% include "article/articles.html" with objects=object.1 %}
            </div>
            {% endfor %}
        </div>

    </div>


    
    </div>

    <div class='col-sm-3'>
    {# include "article/sidebar.html" #}
    </div>
</div>

{% endblock %}