{% extends "base.html" %}
{% load i18n %}

<style type="text/css">
{% block style %}

.object_list table>thead>tr>th{
	width: 25%;
}

.object_list table>thead>tr>th:nth-last-child(1){
	width: 10%;
}

{% endblock %}	
</style>

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            <a href='{% url "rehearsal_create" %}'><i class="fa fa-plus-square-o" aria-hidden="true"> {% trans "Create" %}{% trans "rehearsal" %}</i></a>                          
        </div>
    </div>
</div>
{% include "includes/model_list_table_display.html" with line_per_page=20 %}
{% endblock %}