{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<h1 class="text-center">{% trans 'About Us' %}</h1>
		<div  style="text-align: left">
			<p>
			中国外运长航集团有限公司（简称中国外运长航）由中国对外贸易运输（集团）总公司与中国长江航运（集团）总公司于2009年3月重组成立，总部设在北京。 
			</p>
			<p>
			2015年，经国务院批准，招商局集团有限公司（简称“招商局”）与中国外运长航实施战略重组，中国外运长航整体并入招商局。
			</p>
			<p>
			中国外运长航是以物流为核心主业、航运为重要支柱业务、船舶重工为相关配套业务的中国最大的综合物流服务供应商。
			</p>
		</div>
		<hr>
		<p><b>{% trans 'Address' %}:</b></p>
		<iframe src="sitemap" width="600" height="300" frameborder="0" scrolling="no"></iframe>
	</div>
</div>
{% endblock%}