{% extends 'base.html' %}
{% load i18n %}

<style>
{% block style %}

.panel{
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.panel-info {
    border:none!important;
}

.panel-info>.panel-heading {
    color: #3a87ad;
    background: none!important;
    border-top:none!important;
    border-bottom: 1px solid #bce8f1;
}

.table-transposition-display thead tr:nth-child(1) th:nth-child(1){
    width: 100px;
}
{% endblock %}
</style>


<script>
{% block jquery %}
var endpoint = '/inspection/dashboardview/api/dailyinspection/'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        console.log(data)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

{% endblock %}
</script>

{% block content %}

<p style="color:gray;"> {% trans "total number" %} = {% trans "inspection total number" %}  |  {% trans "Uncompleted" %} = {% trans "rectification uncompleted" %}  |  {% trans "efficiency" %} = {% trans "completed rectification average cost days" %} </p>

<div class='row'>
    <div class='col-sm-12'>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>{% trans "Daily Inspection" %}</h3>
            </div>
            <div class="panel-body" >                
                {% include "dashboard_statistic_table.html" with thead_css="table-primary-light"  rows=rows_dailyinspection%}
                
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>{% trans "PI/NM" %}</h3>
            </div>
            <div class="panel-body" >
                {% include "dashboard_statistic_table.html" with thead_css="table-primary-light" rows=rows_pi no_row_subtoal=True %}
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>{% trans "Spray Equipment" %}</h3>
            </div>
            <div class="panel-body" >
                {% include "dashboard_statistic_table.html" with thead_css="table-primary-light" rows=rows_spray no_row_subtoal=True %}
        </div>
    </div>
</div>


<div class='row'>
    <div class='col-sm-12'>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>{% trans "hydrant Equipment" %}</h3>
            </div>
            <div class="panel-body" >
                {% include "dashboard_statistic_table.html" with thead_css="table-primary-light" rows=rows_hydrant no_row_subtoal=True %}
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>{% trans "Other Equipment" %}</h3>
            </div>
            <div class="panel-body" >
                {% include "dashboard_statistic_table.html" with thead_css="table-primary-light" rows=rows_other_equipment no_row_subtoal=False %}
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>{% trans "shelf inspection" %}<small> Total:{{shelf_count}}</small></h3>
            </div>
            <div class="panel-body" >
                {% include "dashboard_statistic_table.html" with thead_css="table-primary-light" rows=rows_shelf_inspection no_row_subtoal=True %}
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>{% trans "vehicle inspection" %}<small> Total:{{vehicle_count}}</small></h3>
            </div>
            <div class="panel-body" >
                {% include "dashboard_statistic_table.html" with thead_css="table-primary-light" rows=rows_vehicle_inspection no_row_subtoal=True %}
        </div>
    </div>
</div>


<div class='row'>
    <div class='col-sm-12'>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>{% trans "forklift repair" %}<small> Total:{{forklift_count}}</small></h3>
            </div>
            <div class="panel-body" >
                {% include "dashboard_statistic_table.html" with thead_css="table-primary-light" rows=rows_forklift_repair no_row_subtoal=True %}
        </div>
    </div>
</div>
{% endblock %}