{% extends 'base.html' %}
{% load i18n %}

<style>
{% block style %}

.panel{
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.panel-info {
    border:none!important;
}

.panel-info>.panel-heading {
    color: #3a87ad;
    background: none!important;
    border-top:none!important;
    border-bottom: 1px solid #bce8f1;
}

.table-transposition-display thead tr:nth-child(1) th:nth-child(1){
    width: 100px;
}
{% endblock %}
</style>


<script>
{% block jquery %}
var endpoint = '/inspection/dashboardview/api/dailyinspection/'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        console.log(data)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12'>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>{% trans "Daily Inspection" %}</h3>
            </div>
            <div class="panel-body scale-product" >

                {% include "dashboard_statistic_table.html" with thead_css="table-primary-light"  rows=rows_dailyinspection%}

        </div>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>{% trans "PI/NM" %}</h3>
            </div>
            <div class="panel-body scale-product" >

                {% include "dashboard_statistic_table.html" with thead_css="table-primary-light" rows=rows_pi %}

        </div>
    </div>
</div>

{% endblock %}