
{% load staticfiles %}
{% load i18n %}

<style type="text/css">

	.foot-link{
		border: solid 1px #f2dede;
		border-left: none;
		border-right:none;
		background-color: #f8f8f8;
		padding: 10px 0 10px 0;
		text-align: left;
	}

	.foot-link ul{
		list-style:none; 
		margin:0;
		padding:0;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.footer-certifiate{
		padding: 30px 0px 30px 0px; 
		color:#555; 
		background-color: #d9d9d9;
	}

	.footer hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
    }

    .footer .form-group {
        margin-bottom: 5px;
    }

    .footer .form-control {
    height: 30px!important;
    padding: 6px 0px;
}
</style>


<div class="footer container-fluid" style="margin-top:30px">
	<div class="row foot-link" > 
	    <div class="col-sm-2 col-sm-offset-3">
	    	<br><b>{% trans "Follow Us" %}</b><hr>
	    	<img  class= 'img-responsive' style=" margin:0;" src="{% static 'img/weixin.jpeg' %}"/>	
	    </div>
	    <div class="col-sm-2" >
	    	<br><b>{% trans 'About Us' %}</b><hr>
	    	<ul>
	    		<li><a href="{% url 'about' %}">{% trans 'About Us' %}</a></li>
		    	<li><a href="{% url 'article_list' %}">News</a></li>
	    	</ul>
	    </div>
	    <div class="col-sm-2">
	    	<br><b>{% trans "Contact Us" %}</b><hr>
	    	<ul>		    	
		    	<li>电话: 13888888888</li>
		    	<li>地址: 泰州</li>
		    	<li>联系人: 黄老板</li>
	    	</ul>	    
	    	
	    </div>

	    <div class="col-sm-3">
	    </div>
	</div>
	<div class="row  text-center footer-certifiate">
		<div class="col-sm-12">
			Copyright © 
		</div>
	</div>
</div>