{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}Welcome | {{ block.super }} {% endblock %}

<style>
{% block style %}
.navbar-static-top {
  margin-bottom: 0px; 
}

.row {
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.panel{
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.panel-info {
    border:none!important;
}

.panel-info>.panel-heading {
    color: #3a87ad;
    background: none!important;
    border-top:none!important;
    border-bottom: 1px solid #bce8f1;
}

{% endblock %}
</style>

{% block breadcrumb  %}
{% endblock %}

{% block jumbotron %}    
  {# include "jumbotron.html" with featured_image=featured_image #}
{% endblock %}

<script type="text/javascript" charset="utf-8">
{% block jquery %}

{% endblock %}
</script>

{% block carousel %}  
  {% include "carousel.html" with objects=banners %}
{% endblock %}


{% block content %}
<br>

<div class= 'row'>
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>{% trans "Newsletter" %}</h3>
      </div>
      <div class="panel-body scale-product" >
        <div>
            <ul class="nav nav-tabs" role="tablist">
                {% for category in categories.0 %}
                <li role="presentation" class="{% if forloop.first %}active{% endif %}"><a href="#{{category.0}}" aria-controls={{category.0}} role="tab" data-toggle="tab">{{category.1}}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
              {% for object in objects.0 %}
                <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{object.0}}">
                  {% include "article/articles.html" with objects=object.1 img_width='col-sm-3' %}
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>{% trans "regulations" %}</h3>
      </div>
      <div class="panel-body scale-product" >
        <div>
            <ul class="nav nav-tabs" role="tablist">
                {% for category in categories.1 %}
                <li role="presentation" class="{% if forloop.first %}active{% endif %}"><a href="#{{category.0}}" aria-controls={{category.0}} role="tab" data-toggle="tab">{{category.1}}</a></li>
                {% endfor %}
            </ul>

            <div class="tab-content">
              {% for object in objects.1 %}
                <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{object.0}}">
                  {% include "article/articles.html" with objects=object.1 img_width='col-sm-3' %}
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class= 'row'>
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>{% trans "activities" %}</h3>
      </div>
      <div class="panel-body scale-product" >
        <div>
            <ul class="nav nav-tabs" role="tablist">
                {% for category in categories.2 %}
                <li role="presentation" class="{% if forloop.first %}active{% endif %}"><a href="#{{category.0}}" aria-controls={{category.0}} role="tab" data-toggle="tab">{{category.1}}</a></li>
                {% endfor %}
            </ul>

            <div class="tab-content">
              {% for object in objects.2 %}
                <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{object.0}}">
                  {% include "article/articles.html" with objects=object.1 img_width='col-sm-3' %}
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class= 'row'>
  <div class="col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>{% trans "Daily Inspection" %}</h3>
      </div>
      <div class="panel-body" >
        <div>
          {% if dailyinspection_object_list.count == 0 %}
            {% trans "Nothing found" %}
          {% else %}
            {% include "dailyinspection/inspections.html" with object_list=dailyinspection_object_list %}
          {% endif %}
        </div>
      </div>
      <div style="text-align: -webkit-center; text-align: center;">
        <p><a class="btn btn-warning btn-lg" href="{% url 'dailyinspection_list' %}" role="button">More</a></p>
      </div>
    </div>
  </div>
</div>


{% endblock %}

<script>
    $(function(){
        $('.carousel').carousel();
    });
</script>
