{% load staticfiles %}
{% load i18n %}


    <div class="container-fluid nva-bar-2">
        <div class='container'>    
            <ul class="list-inline">
                <li><a href="{% url 'dailyinspection_list' %}">{% trans 'Inspection' %}</a></li>
                <li><a href="{% url 'shelf_inspection_list' %}">{% trans 'Shelf' %}</a></li>
                <li><a href="{% url 'equipmentinsepction_list' %}">{% trans 'Equipment' %}</a></li>
                <li><a href="{% url 'spraypumproominspection_list' %}">{% trans 'Spray Pump' %}</a></li>
                <li><a href="{% url 'forklift_list' %}">{% trans 'Forklift' %}</a></li>

                <li><a href="{% url 'transportationkpi_list_display' %}">{% trans 'vehicle tranportation KPI' %}</a></li>
            </ul> 
        </div>
    </div>