{% load staticfiles %}
{% load i18n %}


    <div class="container-fluid nva-bar-2">
        <div class='container'>    
            <ul class="list-inline">
                <li><a href="{% url 'article_list' %}">{% trans 'Newsletter' %}</a></li>
                <li><a href="{% url 'daily_inspection_stat' %}">{% trans 'Daily Inspection' %}</a></li>
                <li><a href="{% url 'storage_sec' %}">{% trans 'Storage Security' %}</a></li>       
                <li><a href="{% url 'transport_security' %}">{% trans 'Transport Security' %}</a></li>                       
                <li><a href="{% url 'rehearsal_list' %}">{% trans 'rehearsal' %}</a></li>
                <li><a href="{% url 'dashboard' %}">{% trans 'statistic and analysis' %}</a></li>                
            </ul> 
        </div>
    </div>
