{% extends "base.html" %}
{% load i18n %}
{% load myform %}
{% load staticfiles %}


{% block content %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        {% include "includes/detailview.html" with object=object %}
        
        {% include "includes/inlineview.html" with title="training transcript"  object_foreign_set=object.trainingtranscript_set fields_foreign=fields_training_transcript fields_foreign_display=fields_training_transcript_display %}


    </div>
</div>

{% endblock %}