{% extends "base.html" %}
{% load i18n %}
{% load myform %}
{% load staticfiles %}

<script>
{% block jquery %}


{% endblock %}
</script>

<style type="text/css">
{% block style %}
table.transposition tr th{
    width:20%;
}
{% endblock %}
</style>

{% block content %}

    <div class="row">
        <div class="col-sm-9">

            {% include "includes/model_filelds_table_display.html" with object=object fields=fields fields_safe_content=fields_safe_content %}

            {% include "inlines/list_view.html" with title="training transcript"  object_foreign_set=driver_training_transcripts fields_foreign=fields_training_transcript fields_foreign_display=fields_training_transcript_display %}


            {% comment %}
            <a href="{{ object.get_absolute_url_update }}" class="btn btn-primary" >{% trans "Update" %}</a>
            {% endcomment %}
            <a href="{% url 'driver_list' %}" class="btn btn-default" >{% trans 'Back' %}</a>

        </div>
        <div class="col-sm-3">
        placehold
        </div>
    </div>

{% endblock %}