{% extends "default/detail.html" %}
{% load i18n %}
{% load myform %}
{% load staticfiles %}

<script>
{% block jquery %}


{% endblock %}
</script>

<style type="text/css">
{% block style %}
table.transposition tr th{
    width:20%;
}
{% endblock %}
</style>

{% block inline_content %}

    {% include "inlines/list_view.html" with title="training transcript"  object_foreign_set=driver_training_transcripts fields_foreign=fields_training_transcript fields_foreign_display=fields_training_transcript_display forbidden_links=True%}

{% endblock %}