{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load i18n %}
{% load myform %}


<style type="text/css">
{% block style %}
table.table thead tr th:first-child,
table.table tbody tr th:first-child{
    padding-left: 25px;
}

table.table thead tr th:last-child{
    padding-right: 25px;
}

table.table tbody tr td:last-child{
    padding-right: 25px;
}

{% endblock %}
</style>


{% block content %}

<div class='row'>
	<div class='col-sm-3 '>
        <div class="nav-bar" style="margin-right:20%;">
            <p class="nav-title">{% trans "Outsource Management" %}</p>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="{% url 'forklift_list' %}">{% trans "forklift" %}</a></li>
              <li><a href="{% url 'vehicle_list' %}">{% trans "vehicle" %}</a></li>
            </ul>
        </div>
	</div>
	<div class='col-sm-9 '>
	    <div class="object_lists" style="clear: both;">
			{% autopaginate object_list 8 %}
            
			{% if object_list.count == 0 %}
				{% trans "Nothing found" %}
			{% else %}
				<table class="table-align-center table-hover table table-striped table-hover table-responsive table-condensed">
					<thead>
						<tr class="table-primary">
							{% for field in fields %}
							<th>{{ field.verbose_name }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
					{% for object in object_list %}
						<tr class="table-primary-hover">
							{% for field in fields %}
								{% if forloop.first %}
									<th style="text-align: center;"><a href="{{ object.get_absolute_url }}">{{ object|my_get_field_display:field.name }}</a></th>
								{% else %}
									<td>{{ object|my_get_field_value:field.name }}</td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
					</tbody>
				</table>				
			{% endif %}
            
			<div class="text-center">
			{% paginate %}
			</div>
		</div>
	</div>
</div>

{% endblock %}