{% extends "base.html" %}
{% load i18n %}
{% load myform %}
{% load staticfiles %}


{% block content %}

    <div class="row">
        <div class="col-sm-9">

            {% include "includes/model_filelds_table_display.html" with title=detail_view_title fields_display=fields_display %}

            {% comment %}
            <a href="{{ object.get_absolute_url_update }}" class="btn btn-primary" >{% trans "Update" %}</a>
            {% endcomment %}
            <a href="{% url 'vehicle_inspection_list' %}" class="btn btn-default" >{% trans 'Back' %}</a>
            
        </div>
        <div class="col-sm-3">
            placeholder
        </div>        
    </div>

{% endblock %}
