{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load i18n %}
{% load myform %}


<style type="text/css">
{% block style %}
table thead tr th:nth-child(1n+7){
    width:4%;
}

table thead tr th:nth-child(1n+17){
    width:10%;
}


table.table-align-center tbody tr td,
table.table-align-center thead tr th{
    vertical-align: bottom;
}

table thead tr th:nth-last-child(1){
    width:10px;
}

{% endblock %}
</style>


{% block content %}

<div class='row'>
    <div class='col-sm-12 '>

        {% include "includes/model_filelds_table_display.html" %}

        {% comment %}
            {% include "inlines/list_view.html" with title="driver"  object_foreign_set=object.driver_set fields_foreign=fields_dirver fields_foreign_display=fields_dirver_display %}
        {% endcomment %}

        <!-- vehicle inspection  -->
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    {% if request.user.is_staff %}
                    <a href='{% url "vehicle_inspection_create" %}'><i class="fa fa-plus-square-o" aria-hidden="true"> {% trans "Create" %}{% if LANGUAGE_CODE == "en" %}&nbsp{% endif %}{% trans "vehicle inspection" %}</i></a>
                    {% endif %}
                </div>
            </div>
        </div>	
        {% include "inlines/list_view.html" with title="vehicle inspection"  object_foreign_set=object.vehicleinspection_set.all fields_foreign=fields_vehicle_inspection fields_foreign_display=fields_vehicle_inspection_display table_class="table-align-center" allow_edit=True %}


        {% comment %}
        <a href="{{ object.get_absolute_url_update }}" class="btn btn-primary" >{% trans "Update" %}</a>
        {% endcomment %}
        <a href="{% url 'vehicle_list' %}" class="btn btn-default" >{% trans 'Back' %}</a>

    </div>
<!--     <div class='col-sm-3 '>
        placehold
    </div>     -->    
</div>

{% endblock %}                    