{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load i18n %}
{% load myform %}


<style type="text/css">
{% block style %}
table thead tr th:nth-child(1n+7){
    width:4%;
}

table thead tr th:nth-child(1n+17){
    width:10%;
}


table.table-align-center tbody tr td,
table.table-align-center thead tr th{
    vertical-align: bottom;
}

{% endblock %}
</style>


{% block content %}

<div class='row'>
    <div class='col-sm-12 '>

        {% include "includes/model_filelds_table_display.html" %}

        {% comment %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if fieldsets.0.0 %}{{fieldsets.0.0}}{% else %}{% trans "Base Information" %}{% endif %}
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="transposition table-striped table-hover table-responsive table-condensed"  style="width: 100%">
                            <tbody>                            
                            {% for fieldname in fieldsets.0.1.fields %}
                                <tr><th>{{ object|my_get_field_verbose_name:fieldname }}</th><td>{{ object|my_get_field_display:fieldname }}</td></tr>
                            {% endfor %}                            
                            </tbody>
                        </table>                        
                    </div>
                    <div class="col-sm-6">
                        <table class="transposition table-striped table-hover table-responsive table-condensed"  style="width: 100%">
                            <tbody>                            
                            {% for fieldname in fieldsets.1.1.fields %}
                                <tr><th>{{ object|my_get_field_verbose_name:fieldname }}</th><td>{{ object|my_get_field_display:fieldname }}</td></tr>
                            {% endfor %}                            
                            </tbody>
                        </table>                        
                    </div>
                </div>

            </div>
        </div>
        {% endcomment %}

        {% comment %}
        {% include "inlines/list_view.html" with title="driver"  object_foreign_set=object.driver_set fields_foreign=fields_dirver fields_foreign_display=fields_dirver_display %}
        {% endcomment %}
	
        {% include "inlines/list_view.html" with title="vehicle inspection"  object_foreign_set=object.vehicleinspection_set.all fields_foreign=fields_vehicle_inspection fields_foreign_display=fields_vehicle_inspection_display table_class="table-align-center" %}


        {% comment %}
        <a href="{{ object.get_absolute_url_update }}" class="btn btn-primary" >{% trans "Update" %}</a>
        {% endcomment %}
        <a href="{% url 'vehicle_list' %}" class="btn btn-default" >{% trans 'Back' %}</a>

    </div>
<!--     <div class='col-sm-3 '>
        placehold
    </div>     -->    
</div>

{% endblock %}                    