{% load i18n %}
{% load myform %}
{% load pagination_tags %}

<!-- parameters:
	title
	object_foreign_set
	fields_foreign
	fields_foreign_display
	field_display_links
	table_class
	thead_class
	page_num  - not work for RelatedObjects
	
-->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% trans title %}
        </h3>
    </div>
    <div class="panel-body">
        {% include "includes/model_list_table_display.html" with table_class=" " thead_class=" " fields=fields_foreign object_list=object_foreign_set page_num=0 fields_display=fields_foreign_display %}
    </div>
</div>  